<% include ../partials/header %>
<main>
<% posts.forEach(function(post){ %>
	<div class="container">
    	<div class="card teal lighten-2 z-depth-4">
    		<div class="card-content">
    		<span class="card-title"><%= post.title%></span>
    	    <p><%= post.body.substring(0,100)%>..</p>
            <span style="margin-top:25px;display:inline-block"><%= post.created.toString().substring(0,15) %></span>
    </div>
    <span style="margin-right: 1.25em;margin-left: 1.25em;margin-bottom: 1.25em ;display: inline-block"><a class=" hoverable deep-orange lighten-2   btn-large " href="/posts/<%= post._id%>"><i class="material-icons left">arrow_upward</i>READ</a></span>
    <span style="margin-right: 1.25em;margin-left: 1.25em;margin-bottom: 1.25em ;display: inline-block"><a class=" hoverable deep-orange lighten-2   btn-large " href="/posts/<%= post._id%>/comment/new"><i class="material-icons left">arrow_downward</i>COMMENT</a></span>
    </div>
    </div>
<% }) %>
</main>

<% include ../partials/header %>
